/* Main Top Header */
header {
  height: 208px;
  background-image: url(/images/andre-tan-THJJRUhNlEc-unsplash.jpg);
  background-position: 100% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
}

.header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Needs a fill color */
}

/* Main Title */
.title {
  font-weight: 900;
  font-size: 2.67rem; /* 42.79px */
  line-height: 1.49;
}

/* Link for My Watchlist */
.watchlist {
  font-weight: bold;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25;
  color: white;
  text-decoration: none;
}
